body {
	background: #333;
	color: #ddd;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 8px;
	padding: 0;
}

@font-face {
	font-family: 'duepuntozero';
	src: local('duepuntozero'), url('./duepuntozero.regular.otf') format('opentype');
}

@font-face {
	font-family: 'PermanentMarker';
	src: local('PermanentMarker'), url('./PermanentMarker-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Pelita';
	src: local('Pelita'), url('./Pelita Std-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'miso';
	src: local('miso'), url('./miso.otf') format('opentype');
}
